h1 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

p {
  font-family: helvetica;
  font-size: 18px;
  text-align: justify;
}

span {
  font-family: helvetica;
}

button {
  font-family: helvetica;
}

table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
}

colgroup, tbody {
  border: solid medium;
}

td {
  border: solid thin;
  height: 2em;
  width: 2em;
  text-align: center;
  padding: 0;
}

.mySlides {
  font-family: helvetica;
}

ul {
  font-family: helvetica;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  text-family: helvetica;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

input {
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.candidate-square {
  outline: none;
  border: none;
  text-align: center;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.nested-table {
  height: 30px;
  width: 50px;

}
