h1 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

p {
  font-family: helvetica;
  font-size: 18px;
  text-align: justify;
}

span {
  font-family: helvetica;
}

button {
  font-family: helvetica;
}

table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
}

colgroup, tbody {
  border: solid medium;
}

td {
  border: solid thin;
  height: 2em;
  width: 2em;
  text-align: center;
  padding: 0;
}

.mySlides {
  font-family: helvetica;
}

#user {
  border: solid red;
}

#new-user-form {
  
}
